.infoBlock__container {
  display: flex;
  margin-bottom: 17px;
}

.infoBlock__title {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin: 0;
  width: 100px;
}

.infoBlock__statistic {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.infoBlock__procentTotal {
  font-weight: bold;
  font-size: 13px;
  margin: 0;
}

.infoBlock__usersInfo {
  display: flex;
  margin-top: 5px;
  margin-left: 5px;
}

.infoBlock__users {
  font-size: 13px;
  color: rgb(157 157 156);
}

.infoBlock__icon {
  width: 13px;
  height: 13px;
  margin-left: 5px;
}

.infoBlock__colorPercent {
  margin-left: 10px;
  border: 1px solid rgb(241 241 241);
  border-radius: 5px;
  width: 95px;
  height: 35px;
  text-align: right;
  line-height: 35px;
  font-size: 13px;
  padding-right: 5px;
}