.App {
  position: relative;
  margin: 0, auto;
  max-width: 350px;
  font-family: Arial, sans-serif;
}

.App__icon {
  position: absolute;
  outline: none !important;
  left: 50%;
  top: 30px;
  opacity: 15%;
}

.diagramma__triangle {
  position: absolute;
  border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid rgb(128 178 95);
  top: 263px;
  left: 161px;
}
